body {
  background-color: slategrey;
  text-align: center;
}
h1, h2 {
  font-size: 40px;
  text-shadow: 2px 2px darkgoldenrod;
  text-align: center;
  color: black;
}
ul {
  list-style: none;
}
.columns {
  display: flex;
  justify-content: center;
}
.profile {
  width: 24%;
  height: 500px;
  float: left;
  background-color: lightsteelblue;
  margin-right: 5px;
  margin-left: 1px;
  border: 2px darkgoldenrod solid;
}
.profile img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px darkgoldenrod solid;
  border-bottom: 4px darkgoldenrod solid;
}
.profile h2 {
  font-style: italic;
  font-size: 25px;
}
.profile ul {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}